.map {
  width: 100%;
  min-height: 420px;
  background-color: var(--basic-white);


  @include tw {
    min-height: 480px;
  }

  @include dw {
    min-height: 540px;
  }

  img {
    display: block;
    height: 100%;
    width: 100%;
  }
}
