.swiper-slider {
  position: relative;
  text-align: center;
}

.swiper-slider__list {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  transition: transform 0.4s ease;
}

.swiper-slider__text {
  @include dw {
    text-align: left;
    display: grid;
    align-self: flex-start;
    margin-top: 150px;
    max-width: 700px;
    padding-right: 10px;
  }
}

.swiper-slider__item {
  width: calc(100vw - (100vw - 100%));
  flex-shrink: 0;
}


.swiper-slider__wrapper {
  overflow: hidden;
}

.swiper-slider__slide {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 20px 20px 60px;
  height: 100%;

  @include tw {
    padding-top: 55px;
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 11px;
  }

  @include dw {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 30px;
    padding: 30px 105px 84px;
  }

  &--flat-white {
    background: var(--background-flat-white);

    @include tw {
      background: linear-gradient(var(--background-flat-white) 76%, var(--basic-white) 13%);
    }

    @include dw {
      background: var(--background-flat-white);
    }
  }

  &--lavender {
    background: var(--background-lavande);

    @include tw {
      background: linear-gradient(var(--background-lavande) 76%, var(--basic-white) 13%);
    }

    @include dw {
      background: var(--background-lavande);
    }
  }

  &--espresso {
    background: var(--background-gray);


    @include tw {
      background: linear-gradient(var(--background-gray) 76%, var(--basic-white) 13%);
    }

    @include dw {
      background: var(--background-gray);
    }
  }
}

.swiper-slider-buy {
  margin: 0 auto;
  display: flex;
  align-items: flex-start;
  max-width: 230px;

  @include tw {
    margin-bottom: 20px;
  }

  @include dw {
    margin: 0;
    margin-bottom: 20px;
  }
}

.swiper-slider__slide-img {
  display: block;
  margin-bottom: 5px;

  @include tw {
    order: 2;
    margin-bottom: 0;
  }

  @include dw {
    display: grid;
    align-items: flex-start;
    justify-self: end;
    order: 0;
  }

  img {
    display: block;
  }
}

.swiper-slider__arrow {
  padding: 0;
  margin: 0;
  border: 0;
  background-color: transparent;
  position: absolute;
  width: 20px;
  top: 0;
  bottom: 0;
  z-index: 11;
  cursor: pointer;
  outline: 0;

  &::after {
    content: "";
    position: absolute;
    display: block;
    border: solid var(--accent-primary);
    width: 15px;
    height: 15px;
    border-width: 0 2px 2px 0;
    top: 50%;
  }

  &--prev {
    left: 0;

    &::after {
      transform: translate(7px, -50%) rotate(135deg);
    }

    @include tw {
      &::after {
        transform: translate(37px, -50%) rotate(135deg);
      }
    }

    @include dw {
      &::after {
        transform: translate(37px, -50%) rotate(135deg);
      }
    }
  }

  &--next {
    right: 0;

    &::after {
      transform: translate(-2px, -50%) rotate(-45deg);
    }

    @include tw {
      &::after {
        transform: translate(28px, -50%) rotate(-45deg);
      }
    }
  }

  @include tw {
    width: 80px;
    height: 76%;
  }

  @include dw {
    height: 100%;
  }

  @media (any-hover: hover) {
    &:hover {
      background: linear-gradient(-90deg, #ffffff 0%, rgba(255, 255, 255, 0) 100%);
    }
  }

  &:focus-visible {
    background: linear-gradient(-90deg, #ffffff 0%, rgba(255, 255, 255, 0) 100%);
  }

  &:active {
    background: linear-gradient(90deg, rgba(120, 89, 207, 0.25) 0%, rgba(120, 89, 207, 0) 100%);
  }

  &:disabled {
    pointer-events: none;

    &::after {
      border-color: var(--basic-gray);
    }
  }
}


.swiper-slider__badge {
  display: inline-block;
  margin-bottom: 4px;
  font-size: 12px;
  font-weight: 700;
  line-height: 16px;
  letter-spacing: 0.48px;
  text-transform: uppercase;
  color: var(--accent-primary);
}

.swiper-slider__title {
  margin: 0;
  margin-bottom: 10px;
  font-size: 36px;
  font-weight: 700;
  line-height: 48px;
  letter-spacing: 0.72px;
  color: var(--basic-dark);

  @include tw {
    margin-bottom: 15px;
    font-size: 56px;
    line-height: 80px;
    letter-spacing: 1.12px;
  }
}

.swiper-slider__subtitle {
  margin: 0;
  margin-bottom: 20px;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  color: var(--basic-dark);

  @include tw {
    font-size: 20px;
    line-height: 32px;
    margin-bottom: 21px;
    padding-left: 20px;
    padding-right: 20px;
  }

  @include dw {
    padding-left: 0;
    margin-bottom: 40px;
  }
}

.swiper-slider__button {
  margin-left: auto;
}

.swiper-slider__price-primary {
  margin-right: 5px;
  margin-top: 5px;
  font-size: 16px;
  font-weight: 400;
  line-height: 32px;
  color: var(--accent-primary);
}

.swiper-slider__price {
  margin-top: 5px;
  margin-right: 20px;
  font-size: 20px;
  font-weight: 600;
  line-height: 32px;
  color: inherit;
}

.swiper-slider__pagination-list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: none;
  position: absolute;
  gap: 8px;
  left: 50%;
  transform: translateX(-50%);
  bottom: 60px;
  width: 202px;


  @include dw {
    display: flex;
  }
}

.swiper-slider__pagination-button {
  padding: 0;
  margin: 0;
  border: none;
  height: 24px;
  width: 100%;
  position: relative;
  background-color: transparent;
  cursor: pointer;
  outline: 0;

  &::after {
    content: "";
    position: absolute;
    right: 0;
    bottom: 0;
    top: 50%;
    transform: translateY(-50%);
    background-color: var(--basic-white);
    height: 4px;
    width: 100%;
    transition: background-color 0.4s ease;
  }


  @media (any-hover: hover) {
    &:hover {
      &::after {
        background-color: var(--accent-primary-opacity);
      }
    }
  }

  &:focus-visible {
    &::after {
      background-color: var(--accent-primary-opacity);
    }
  }
}

.swiper-slider__pagination-item {
  flex-grow: 1;

  &--active {
    .swiper-slider__pagination-button::after {
      background-color: var(--accent-primary);
    }
  }
}
